@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --shadow-card:
    rgba(60, 64, 67, 0.3) 0px 0px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 0px 0px;
  --shadow-card-hover:
    rgba(60, 64, 67, 0.3) 0px 0px 2px 1px,
    rgba(60, 64, 67, 0.15) 0px 1px 0px 1px;
}
.chat-btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(97, 84, 132);
  color: white;
  cursor: pointer;
}