@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* .chat-btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(97, 84, 132);
  color: white;
} */

.chat-btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(97, 84, 132);
  color: white;
  cursor: pointer;
}
